/node_modules
/public/storage
/public/storage*
!/vendor
!/vendor/laravel/ui/auth-backend
/vendor
.env
.DS_Store
.env copy
resources.zip
simethris_core.zip
simethris_public.zip
database/simethirsstarter.sql
public/public.zip
/storage/*
